
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #3F5EFB;
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
}

header {
    background: #c5c4ca;
    background: linear-gradient(90deg, rgb(189, 187, 225) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
}

/* Form Styling */
form {
    margin-top: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    width: 100%;
    max-width: 600px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

form label {
    color: #333;
    margin-bottom: 5px;
}

form input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 15px;
    font-size: 16px;
    background-color: #f0fff0;
}

form button {
    background-color: #ff6600;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-start;
}

form button:hover {
    background-color: #e65c00;
}

/* Student List Section */
#studentListSection {
    margin: 20px auto;
    max-width: 100%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-x: auto; 
}

#studentTable {
    width: 100%;
    min-width: 600px; 
    border-collapse: collapse;
    background-color: #f9f9f9;
}

#studentTable th {
    background-color: #32cd32;
    color: white;
    padding: 10px;
    text-align: left;
}

#studentTable td {
    padding: 10px;
    border: 1px solid #ddd;
}

#studentTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

#studentTable button {
    background-color: #ff6600;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

#studentTable button:hover {
    background-color: #e65c00;
}

/* Responsive Design */

/* Large screens  */
@media (min-width: 1024px) {
    form {
        max-width: 600px; 
    }
}

/* Tablets Screen*/
@media (min-width: 768px) and (max-width: 1023px) {
    form {
        max-width: 500px; 
    }
    #studentListSection {
        padding: 15px; 
    }
}

/* Mobile Devices */
@media (max-width: 767px) {
    form {
        width: 90%; 
        padding: 15px;
    }
    #studentListSection {
        width: 90%;
        padding: 10px;
    }
    #studentTable {
        width: 100%; 
        overflow-x: auto; 
    }
    #studentTable th, #studentTable td {
        padding: 8px; 
    }
}

/* Swipe Gesture for Mobile */
#studentListSection {
    overflow-x: scroll; 
    white-space: nowrap; 
}

#studentTable {
    display: inline-block; 
}
